@font-face{
  font-family: 'Adam';
  src: url('../assets/fonts/AdamCG.otf');
}
@font-face{
  font-family: 'Sofia';
  src: url('../assets/fonts/SofiaProLight.otf');
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Adam', sans-serif;
  background-image: url('../assets/images/mac1.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background: linear-gradient( to bottom,#333333, #4b4b4b);*/
}
